[Unit]
Description=Katarl MIDI Control Service
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Environment=RUST_LOG=DEBUG
ExecStart=/usr/local/bin/katarl
Restart=always
RestartSec=100ms

[Install]
WantedBy=default.target
